In [1]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (10+190ubuntu0.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for systemd (237-3ubuntu10.53) ...
 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE

In [2]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
import pandas as pd
import numpy as np

In [4]:
def select(sql):
  return pd.read_sql(sql,con)

### Задание 1. Найти количество выданных карт (только первичный выпуск по договору) за период dt1 - dt2 с разбивкой на кредитные / дебетовые. (Если по договору перевыпуск карты плановый, то agrmnt_id карты не меняется, если досрочный, то меняется. agrmnt_id договора не меняется никогда.)

In [ ]:
'''
-- закрытые карты и их договоры
with closed_cards as (
select
  t.agrmnt_id as card_id
  , atr.val_int as agreement_id
from c_status as t
left join attr as atr on t.agrmnt_id = atr.agrmnt_id
where t.status_id = 1027 and atr.attr_id = 1003
),

-- первичный выпуск по договору
first_open_by_agr as (
  select
    t.agrmnt_id
  from agr as t
  left join a_status as ast on t.agrmnt_id = ast.agrmnt_id
  where ast.status_id = 1000                                  -- открытые договора
    and t.agrmnt_id not in (select agreement_id from closed_cards) -- договора, по которым выпуск происходит впервые
)

select
  p.dbcr_car                                                  -- дебетовые/кредитные
  , count(t.agrmnt_id) as agrmnt_cnt
from c_reissue as t
left join product as p on t.product_id = p.product_id
left join c_status as st on t.agrmt_id = st.agrmnt_id
left join attr as atr on t.agrmt_id = atr.agrmnt_id
where st.status_id = 1000                                     -- выданные карты
      and atr.val_int in (select * from first_open_by_agr)    -- новые договоры
      and st.start_dt between dt1 and dt2                     -- период dt1-dt2
group by p.dbcr_car
'''

### Задание 2. Для заданной даты DT определить количество действующих, выданных карт с разбивкой на дебетовые / кредитные.

In [ ]:
'''
-- открытые договоры на момент dt
with open_agrmnt as (
  select
    agrmnt_id
  from agr as t
  left join a_status as ast on t.agrmnt_id = ast.agrmnt_id
  where ast.status_id = 1000 and ast.start_dt <= dt
)

select
  p.dbcr_car
  , count(t.agrmnt_id) as agrmnt_count
from c_reissue as t
left join product as p on t.product_id = p.product_id
left join c_status as st on t.agrmt_id = st.agrmnt_id
left join attr as atr on t.agrmnt_id = atr.agrmnt_id
where st.status_id = 1000 and st.start_dt <= dt 
      and atr.attr_id = 1003 and atr.start_dt <= dt
          and atr.val_int in (select * from open_agrmnt)
group by p.dbcr_car
'''

### Задание 3. Определить среднее количество действующих карт на клиента (в тотале, кредитные, дебетовые) в момент времени dt.

In [ ]:
'''
-- клиенты и открытые договоры на момент dt
with open_agrmnt as (
  select
    t.client_id
    , agrmnt_id
  from agr as t
  left join a_status as ast on t.agrmnt_id = ast.agrmnt_id
  where sat.status_id = 1000 and ast.start_dt <= dt
),

-- договоры и действующие по ним карты на момент dt
active_cards as (
  select
    atr.val_int as agrmnt_id
    , t.agrmnt_id as card_id
    , p.dbcr_car
  from c_reissue as t
  left join product as p on t.product_id = p.product_id
  left join c_status as st on t.agrmt_id = st.agrmnt_id
  left join attr as atr on t.agrmnt_id = atr.agrmnt_id
  where st.status_id = 1000 and st.start_dt <= dt 
        and atr.attr_id = 1003 and atr.start_dt <= dt
)

select
  dbcr_car
  , avg(dbcr_count) over(partition by dbcr_car order by dbcr_car) as dbcr_car_avg
  , avg(total_count) over(order by dbcr_car) as total_avg
from (
  select
    t.client_id
    , ac.dbcr_car
    , count() over (partition by t.client_id, ac.dbcr_car order by t.client_id) as dbcr_count
    , count() over (partition by t.client_id order by t.client_id) as total_count
  from open_agrmnt as t
  join active_cards as ac on t.agrmnt_id = ac.agrmnt_id
) as t
'''

### Задание 4. Преобразование таблицы

In [5]:
t = pd.DataFrame(
    {
      'report_dt': ['01.01.2020', '02.01.2020', '03.01.2020', '04.01.2020', '05.01.2020', '06.01.2020', '07.01.2020', '08.01.2020', '09.01.2020', '10.01.2020'],
      'residue': [5, 5, 7, 13, -2, -2, -2, 0, 35, 10]
    }
)
t['report_dt'] = pd.to_datetime(t['report_dt'],format='%d.%m.%Y')
t.to_sql('my_table',con,index=False,if_exists='replace',method='multi')
t

   report_dt  residue
0 2020-01-01        5
1 2020-01-02        5
2 2020-01-03        7
3 2020-01-04       13
4 2020-01-05       -2
5 2020-01-06       -2
6 2020-01-07       -2
7 2020-01-08        0
8 2020-01-09       35
9 2020-01-10       10

In [10]:
sql = '''
with pivot as (
select
  t.*
  , case when t.start_rank = 1 then 1 else 0 end as start_flag
  , case when t.end_rank = 1 then 1 else 0 end as end_flag
from (
  select
    t.*
    , dense_rank() over (partition by t.residue order by t.report_dt) as start_rank
    , dense_rank() over (partition by t.residue order by t.report_dt desc) as end_rank
  from my_table t) as t),

start_tab as (
  select 
    t.*
    , row_number() over (order by t.residue) as rownum
    from (
      select
        t.residue
        , case when start_flag = 1 then report_dt end as start_dt
      from pivot t ) as t
  where start_dt is not null
),

 end_tab as (
   select 
     t.*
     , row_number() over (order by t.residue) as rownum
   from (
     select
       t.residue
       , case when end_flag = 1 then report_dt end as end_dt
     from pivot t ) as t
   where end_dt is not null)

select st.start_dt, et.end_dt, st.residue
from start_tab as st
left join end_tab as et on st.rownum = et.rownum
order by st.start_dt
'''
select(sql)

    start_dt     end_dt  residue
0 2020-01-01 2020-01-02        5
1 2020-01-03 2020-01-03        7
2 2020-01-04 2020-01-04       13
3 2020-01-05 2020-01-07       -2
4 2020-01-08 2020-01-08        0
5 2020-01-09 2020-01-09       35
6 2020-01-10 2020-01-10       10